<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    {% endblock %}
    <title>{% block title %}Bienvenue !!{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
             <li class="active"><a href="{{ path('mhhetier_blog_accueil') }}">Blog</a></li>
             <li><a href="{{ path('mhhetier_blog_voir', {id:1}) }}">Articles</a></li>
             <li><a href="{{ path('mhhetier_blog_ajouter') }}">Ajouter</a></li> 
              <li><a href="{{ path('mhhetier_blog_modifier', {id:1}) }}">Modifier</a></li> 
        </ul>
    </nav>
    <div class="row">
        <div class="col-xs-2 col-md-2">
            {{ render(controller("MhhetierBlogBundle:Blog:menuGauche")) }}
        </div>
        <div class="col-xs-2 col-md-8">
            {% block body %}
                {% block sousTitreBody %}{% endblock %}
            {% endblock %}
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>